.step4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.step4 > .form-group > .form-control,
.step5 > .form-group > .form-control {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 280px;
  height: 56px;
  gap: 1rem;
}

.step4 > .form-group > .form-control > input {
  margin: 0;
}

@media (max-width: 768px) {
  .step4 {
    min-width: 100%;
    height: 100%;
  }

  .step4 > .form-header {
    margin-top: 4rem;
  }

  .step4 > .form-group {
    flex-direction: column;
    align-items: center;
  }
}
