header {
  padding: 2rem 0;
  max-width: 1400px;
  margin: 0 auto;
}

header > img {
  width: 160px;
}

@media (max-width: 768px) {
  header {
    padding: 2rem 1rem;
  }

  header > img {
    width: 120px;
  }
}
