.confirm-popup {
  z-index: 1000;
  width: 400px;
  height: 450px;
  border-radius: 16px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-popup > img {
  width: 128px;
  margin-bottom: 1rem;
}

.confirm-popup > h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.confirm-popup > p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.confirm-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 1rem;
}

.confirm-buttons > button {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1000px;
  height: 48px;
  border: 0;
  color: inherit;
  font-family: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
}

.confirm-buttons > button:first-child {
  background-color: #6a0fff;
  color: #fff;
}

.confirm-buttons > button:first-child:hover {
  background-color: #4a0fc7;
}

.confirm-buttons > button:last-child:hover {
  background-color: #fff;
  color: #6a0fff;
}

@media (max-width: 768px) {
  .confirm-popup {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
  }
}