.progress-bar_container {
  position: absolute;
  bottom: 30px;
  font-size: 1rem;
  width: 1200px;
  height: 80px;
  padding: 1rem 2rem;
  border-radius: 12px;
  background-color: #0f002b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.progress-bar_container > span {
  color: #f7f7f7;
  font-weight: 600;
}

.progress-bar_container > button {
  width: 250px;

  border-radius: 1000px;
  border: 0;
  height: 56px;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f7f7f7;
}

.progress-bar_container > .progress-bar_whatsapp_btn:hover {
  background-color: #09816b;
}

.progress-bar_container > .progress-bar_whatsapp_btn {
  background-color: #0aaa8d;
}

.progress-bar_container > .progress-bar_whatsapp_btn > img {
  width: 24px;
}

.progress-bar_container > .progress-bar_restart_btn {
  background-color: #6a0fff;
}

.progress-bar_container > .progress-bar_restart_btn:hover {
  background-color: #4a0fc7;
}

.progress-bar {
  width: 650px;
  height: 8px;
  border-radius: 1000px;
  background-color: #f7f7f7;
  position: relative;
}

.progress-bar_fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 1000px;
  background-color: #9156f0;
  transition: width 0.3s ease;
}

.progress-bar_mobile {
  width: 100%;
  text-align: center;
  display: none;
  margin-top: auto;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #4c00c6;
}

@media (max-width: 768px) {
  .progress-bar_container {
    display: none;
  }

  .progress-bar_mobile {
    display: block;
  }
}
